.button1{
    background-color:rgba(30,206,138,0.1) ;
    color:papayawhip;
    border-radius: 8px ;
    border-color: green;
    shape-margin: 0.5px;
  }

.nav-color{
    background-color: rgb(25,172,115);
  }

